@model IEnumerable<FarahStoreModel.Models.Product>
<partial name="_ToastMessage" />
<div class="page-title">
    <div class="title_left">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <form method="Post" action="/Admin/Category/index">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchKey" placeholder="جست و جو دسته بندی">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                لیست دسته بندی ها
            </h2>
            <div class="panel_toolbox">
                <a href="/Admin/Product/CreateProduct" class="btn btn-success">ثبت محصول &nbsp;<i class="fa fa-plus"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            @if (Model.Count() < 1 || Model == null)
            {
                <p class="text-primary">محصولی برای نمایش وجود نداد</p>
            }
            else
            {
                <div class="">
                    <table class="table table-striped table-hover table-bordered jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>تصویر</th>
                                <th>نام محصول</th>
                                <th>تعداد</th>
                                <th>دسته</th>
                                <th>قیمت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr>
                                    <td>
                                        @if (p.ProductImages != null)
                                        {
                                            <img src="~/@p.ProductImages.Select(u=>u.ImagePath).FirstOrDefault()" width="48" height="48" />
                                        }
                                        else
                                        {
                                            <img src="~/download.png" width="48" height="48" />
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(p.Slug))
                                        {
                                            <div>
                                                <p style="color: #262626">@p.Name</p>
                                            </div>
                                            <div>
                                                <p>@p.Slug</p>
                                            </div>
                                        }
                                        else
                                        {
                                            @p.Name
                                        }
                                    </td>
                                    <td>@p.NumberOfEntries</td>
                                    <td>@p.ChaildCategory.Category.Name - @p.ChaildCategory.Name</td>
                                    <td>
                                        @if (p.OldPrice > 0)
                                        {
                                            <div>
                                                <p style="text-decoration: line-through; text-decoration-color: red; text-decoration-style: wavy">@p.OldPrice</p>
                                            </div>
                                            <div>
                                                <p>@p.Price.ToString("n0")</p>
                                            </div>
                                        }
                                        else
                                        {
                                            @p.Price.ToString("n0")
                                        }
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary">عملیات</button>
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a onclick="ShowModalAddImage('@p.Id','@p.Name')">
                                                        <i class="fa fa-image text-primary bg-primary"></i>&nbsp;اضافه کردن تصویر
                                                    </a>
                                                </li>
                                                <li>
                                                    <a onclick="ShowModalAddFeature('@p.Id','@p.Name')">
                                                        <i class="fa fa-newspaper-o text-success bg-success"></i>&nbsp;اضافه کردن مشخصات
                                                    </a>
                                                </li>
                                                <li>
                                                    <a onclick="ShowModalAddColor('@p.Id','@p.Name')">
                                                        <i class="fa fa-cube text-warning bg-warning"></i>&nbsp;ثبت رنگ
                                                    </a>
                                                </li>
                                                <li>
                                                    <a onclick="ShowModalAddColor('@p.Id','@p.Name')">
                                                        <i class="fa fa-exchange text-warning bg-warning"></i>&nbsp;ثبت گارانتی برای محصول
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Admin/Product/ProductDetail/@p.Id">
                                                        <i class="fa fa-info-circle text-info bg-info"></i>&nbsp;نمایش جرئیات
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <a href="#" class="btn btn-info">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            }

        </div>
    </div>
</div>
@section AdminScripts
    {
    <script>
        function ShowModalAddColor(p, name) {
            $('#Product_Id_Color').val(p)
            $('#ProductName_Color').html(name)
            $('#AddColor').modal('show');
        }
        function ShowModalAddImage(p, name) {
            $('#Product_Id').val(p)
            $('#ProductName_Image').html(name)
            $('#AddImage').modal('show');
        }
        function ShowModalAddFeature(p, name) {
            $('#Product_Id_Feature').val(p)
            $('#ProductName_Feature').html(name)

            $('#AddFeature').modal('show');
        }
    </script>
}
    @section AdminModal
    {
    <div class="modal" id="AddColor" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">اضافه کردن رنگ برای محصول <strong id="ProductName_Color"></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_content">
                        <br>
                        <form method="post" action="/Admin/Product/AddColorForProduct" class="form-horizontal form-label-left">
                            <input id="Product_Id_Color" type="hidden" name="ProductId" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    نام رنگ
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="ColorName" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    کد رنگ
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <input type="color" class="form-control form-control-color" id="exampleColorInput" name="ColorHex" title="یک رنگ انتخاب کنید">
                                    @*<input type="text" name="Value" class="form-control col-md-7 col-xs-12">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                    <button type="submit" id="btnAddProductImage" class="btn btn-primary">ثبت </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="AddFeature" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title">اضافه کردن مشخصات برای محصول <strong id="ProductName_Feature"></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_content">
                        <br>
                        <form method="post" action="/Admin/Product/AddFeatureForProduct" class="form-horizontal form-label-left">
                            <input id="Product_Id_Feature" type="hidden" name="ProductId" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    عنوان مشخصه
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="Title" required="required" class="form-control col-md-7 col-xs-12">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    مقدار مشخصه
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="Value" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                    <button type="submit" id="btnAddProductImage" class="btn btn-primary">ثبت </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="AddImage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title">اضافه کردن عکس برای محصول <strong id="ProductName_Image"></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Product/AddImageForProduct" enctype="multipart/form-data">
                        <input id="Product_Id" type="hidden" name="ProductId" />
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">تصاویر</label>
                            <div class="col-sm-10">
                                <input type="file" name="files" multiple class="form-control" accept="image/*">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" id="btnAddProductImage" class="btn btn-primary">ثبت </button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                </div>
            </div>
        </div>
    </div>
}

