@model FarahStoreModel.Models.Product
@{
    int ActiveNumber = 0;
    int P = 0;
}
<div class="">
    <div class="page-title">
        <div class="title_left" style="width: 100%;">
            <h1 class="h4">مشخصات محصول <span class="text-primary">@Model.Name با قیمت @Model.Price.ToString("#,##") تومان</span></h1>
            @if (Model.OldPrice > 0)
            {
                <small>قیمت اصلی : @Model.OldPrice تومان</small>
            }
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div>
                        <small>@Model.Name</small><br />
                        <small>@(!string.IsNullOrWhiteSpace(Model.Slug) ? Model.Slug : "")</small>
                        
                    </div>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <p>دسته یندی : &nbsp; <strong class="bg-primary" style="padding: 0 0.3rem ; border-radius: 10px;">@Model.ChaildCategory.Category.Name - @Model.ChaildCategory.Name</strong></p>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="profile_title">
                            <div class="col-md-12 text-center">
                                <h2>تصاویر محصول</h2>
                            </div>
                        </div>
                        <div>
                            @*******************************************************@
                            <div class="row" style="height: 60vh">
                                <div class="col-12">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            @foreach (var img in Model.ProductImages.ToList())
                                            {
                                                ActiveNumber += 1;

                                                <div class="item @(ActiveNumber == 1 ?"active":"")">
                                                    <img src="~/@img.ImagePath" style="height: 50vh; width: 100%;">
                                                    <div class="carousel-caption">
                                                        <a class="btn btn-danger">حذف این تصویر</a>

                                                    </div>
                                                </div>

                                            }
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                          
                            @********************************************************@
                        </div>
                        <!-- start of user-activity-graph -->
                        <!-- end of user-activity-graph -->

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <i class="fa fa-info-circle"></i>&nbsp; مشخصات محصول
                                        <button class="btn btn-success"><i class="fa fa-plus"></i></button>
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-exchange"></i>&nbsp;گارانتی ها
                                        <button class="btn btn-success"><i class="fa fa-plus"></i></button>
                                    </a>
                                </li>
                                <li role="presentation" class="active">
                                    <a href="#tab_content3" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <i class="fa fa-info-circle"></i>&nbsp; رنگ های محصول
                                        <button class="btn btn-success"><i class="fa fa-plus"></i></button>
                                    </a>
                                </li>

                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                    <!-- start recent activity -->
                                    <ul class="messages">
                                       @if (Model.ProductSpecifications.Count()>0)
                                       {
                                           @foreach (var feature in Model.ProductSpecifications.ToList())
                                           {
                                               <li>
                                                   @*<img src="build/images/img.jpg" class="avatar" alt="Avatar">*@
                                               
                                                   <div class="message_wrapper">
                                                       <h4 class="heading">@feature.Title</h4>
                                                       <blockquote class="message">
                                                           @feature.Value
                                                       </blockquote>
                                                       <br>
                                                   
                                                   </div>
                                               </li>
                                           }

                                       }
                                    </ul>
                                    <!-- end recent activity -->

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                    <!-- start user projects -->
                                    @if (Model.Warranties.Count() > 0)
                                    {
                                        <ul class="messages">
                                           
                                            @foreach (var w in Model.Warranties.ToList())
                                            {
                                                <li>
                                                    @*<img src="build/images/img.jpg" class="avatar" alt="Avatar">*@
                                               
                                                    <div class="message_wrapper">
                                                        <h4 class="heading">@w.WarrantyName</h4>
                                                        <blockquote class="message">
                                                               
                                                        </blockquote>
                                                        <br>
                                                   
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                    }
                                    else
                                    {
                                        <ul class="messages">
                                           
                                           
                                            <li>
                                                @*<img src="build/images/img.jpg" class="avatar" alt="Avatar">*@
                                               
                                                <div class="message_wrapper">
                                                    <h5 class="heading">ضمانتی یا گارانتی برای محصول  @Model.Name ثبت نشده است</h5>
                                                       
                                                </div>
                                            </li>
                                            

                                        </ul>
                                    }
                                              
                                 
                                    <!-- end user projects -->

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

                                    <!-- start user projects -->
                                    @if (Model.ProductColors.Count() > 0)
                                    {
                                        <ul class="messages">

                                            @foreach (var c in Model.ProductColors.ToList())
                                            {
                                                <li>
                                                    @*<img src="build/images/img.jpg" class="avatar" alt="Avatar">*@

                                                    <div class="message_wrapper">
                                                        <h4 class="heading" style="border-radius: 50%; width: 48px; height: 48px;background-color: @c.ColorHex"></h4>
                                                        <blockquote class="message">
                                                            
                                                            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                        </blockquote>
                                                        <br>

                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                    }
                                    else
                                    {
                                        <ul class="messages">


                                            <li>
                                                @*<img src="build/images/img.jpg" class="avatar" alt="Avatar">*@

                                                <div class="message_wrapper">
                                                    <h5 class="heading">  رنگی برای محصول  @Model.Name ثبت نشده است</h5>

                                                </div>
                                            </li>


                                        </ul>
                                    }


                                    <!-- end user projects -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section AdminScripts
    {
    <script src="~/AdminAsset/vendors/owlcarousel/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });
    </script>
}
